cssselect
datasets
python-dotenv
streamlit
fastapi
filetype
google-ai-generativelanguage
google-api-core
google-auth
google-auth-oauthlib
google-generativeai
google-pasta
googleapis-common-protos
googletrans
huggingface-hub
importlib-metadata
importlib-resources
nltk
oauthlib
requests-oauthlib
semantic-version
SpeechRecognition
streamlit-bokeh-events
streamlit-mic-recorder
tokenizers
